/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#container{
    width: 700px;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #9c9084;
    background-image: url('pics/coffey.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 290px;
}
#topbar{
    height: 30px;
    width: 100%;
    color: #eae7d2;
    background-color: #51473d;
    font-family: Times New Roman, Times, serif;
    font-style: italic;
    font-size: 0.9em;
    text-align: right;
    line-height: 30px;
    
}
#menu{
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 259px;
    background-color: #51473d;
}
div > a{
    display: none;
}
#menu ul{
    background-color: #797066;
    margin-left: 20px;
    margin-top: 10px;
    position: absolute;
    display: table;
    width: 80%;

}
#menu ul li{
    display:table-cell;   
    width: auto;
}
#menu li a{
	font-size: 0.8em;
	line-height: 40px;
	text-align: center;
	font-family: "Verdana", Arial, Sans Serif;
	text-decoration: none;
	color: #eae7d2;
	text-transform: capitalize;
	display: block;
	border-right: 1px solid #51473d;
	padding-right: 1.5em;
    padding-left: 1.5em;
}
#menu a:hover {background-color: #9c9084; text-decoration: none; }

#menu li.active a{
    background-color: #eae7d2;
    color: #797066;
}
#content{
    background-color: #eae7d2;
    height: 440px;
    position: relative;
}
#maincontent{
    width: 410px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-right: 1px dashed #51473d;
}
#maincontent h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #797066;
}
#maincontent img{
    margin-right: 10px;
    float: left;
}
#maincontent p{
    font-size: 0.9em;
	line-height: 1.7;
	font-family: "Verdana", Arial, sans-serif;
	color: #797066;
	margin-right: 10px;
}
#subcontent{
    margin-top: 40px;
    margin-left: 20px;
    width: 240px;
    float: left;
}
#subcontent h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #797066;
}
#subcontent p{
    font-size: 0.7em;
	line-height: 2em;
	font-family: Verdana, Arial, sans-serif;
	color: #797066;
}

h2{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.0em;
    margin-top: 40px;
    color: #797066;
}

#subcontent ul{
    font-size: 1.0em;
	line-height: 2em;
	font-family: Verdana, Arial, sans-serif;
	color: #797066;
}

#subcontent a:link {text-decoration: underline; }
#subcontent a:visited {color: purple; text-decoration: underline; }
#subcontent a:hover {background-color: #9c9084; text-decoration: underline; }
#subcontent a:active {color: orange; text-decoration: none; }

#bottomcontent{
    font-size: 0.7em;
	line-height: 2em;
	font-family: Verdana, Arial, sans-serif;
	font-style: italic;
	color: #797066;
	clear: both;
	position: absolute;
	bottom: 10px;
	left: 20px;
}
